body {
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 95%;

  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f486;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.form-container h2 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
  display:inline-block;
  flex-wrap: wrap;
}

.form-group label {
  flex: 1 0 30%;
  padding-right: 10px;
  
  font-weight: bold;
}

.form-group input, .form-group select {
  flex: 1 0 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.form-group input[type="text"], .form-group input[type="email"], 
.form-group input[type="date"], .form-group input[type="number"] {
  width: 100%;
}

.form-group select {
  width: 100%;
}

.form-group textarea {
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 5px;
  margin-bottom: ;
}

.submit-btn {
  text-align: center;
  margin-top: 20px;
}

.submit-btn input {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn input:hover {
  background-color: #45a049;
}
/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
  margin-top: 45px;
  color: white;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  
}
body{
  background-image: url('images/rice_field.jpg'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
header {
  /* position: absolute; */
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: #2f4f2f; /* Dark green */
  color: white;
  display: flex;
  justify-content: space-between;
}

.menu-bar a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
span {
  color: red;
}
